@model Y4C2.Models.AddContent

@{
    ViewData["Title"] = "PlayVideo";
}
<!DOCTYPE>
<title>Y4C</title>
<body >
    <br />
    <br />
    <center>
        <h1>@Model.Title</h1>
        <h4>@Model.Description</h4>
    </center>

    <br />
    <center>
        <div >
            <br /><br />
            <iframe width="560"
                    height="315"
                    src="@Model.Video"
                    frameborder="0"
                    allowfullscreen
                    marginheight="50"></iframe><br /><br />
        </div>
        <div >
            <br /><br />
            <iframe width="560"
                    height="100"
                    src="@Model.Audio"
                    frameborder="0"
                    allowfullscreen></iframe><br /><br />
        </div>


        <div style="padding:4px;">
            <br /><br />
            @Html.Raw(Model.BlogContent)
        </div>
        
        <div style="padding-top:3em;">
            <form asp-controller="Manage" asp-action="PlayVideo" asp-method="Post" id="ThemeIDForm">
                <input type="hidden" name="themeID" id="themeID" value="@Model.Id" />
                <input type="submit" value="Back to Dashboard" class="btn btn-default" />
            </form>
            
        </div>
    </center>
</body>